# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Supabase
DATABASE_URL="postgresql://..."
DIRECT_URL="postgresql://..."

# Stripe
STRIPE_SECRET_KEY=sk_test_...

# AI
GROQ_API_KEY=gsk_...
